// Global
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-height: 120px;
$axis-size: 60px;


// Colours
$font-color-light: #fff;
$font-color-dark: #000;
$axis-background-color: #F2F2F2;
$axis-color: #000;
$border-color: #B3B3B3;
$header-background: #000;
$sidebar-button-background: #000;
